@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'alpha';
    src: url('../fonts/alphakufiregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
